#RewriteEngine on #ключить движок переоброзование адрессов
#RewriteBase / #Это командо говорить Серверу что данная директория с файлом htaccess и ест корен сайта
# теперь пищем команду RewriteRule он пищется с помошю рег выр
#RewriteRule ^(.*)$ index.php #и любые адресса перенаправляется в index.php
